body {
    padding: 0;
    margin: 0;
}


.main-compo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/bg2.jpg);
    background-size: 115%;
    /* background-size: cover; */
    background-position: top;
    background-attachment: fixed;
    box-shadow: inset;
}

.sec-compo {
    display: flex;
    justify-content: center;
    color: white
}

.sec-compos {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    color: white
}

.textf {
    font-size: 25px;
    letter-spacing: 4px;
    /* text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2),
        6px 6px 0px rgba(0, 0, 0, 0.2),
        9px 9px 0px rgba(0, 0, 0, 0.2),
        12px 12px 5px rgba(0, 0, 0, 0.2); */
        text-shadow: 1px 1px 2px black;
}

.texte {
    font-size: 15px;
    letter-spacing: 2px;
    /* text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2),
        6px 6px 0px rgba(0, 0, 0, 0.2),
        9px 9px 0px rgba(0, 0, 0, 0.2),
        12px 12px 5px rgba(0, 0, 0, 0.2); */
        text-shadow: 1px 1px 2px black;
}

.sec-compo img {
    
    max-width: 300px;
    max-height: 400px;
}


.sec-compos img {
    max-width: 300px;
    
}


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 780px) {
    .box {
        flex-direction: column;
    }
}

.text-web {
    padding-top: 40px;
    color: white;
    animation: fadeOutIn 3s ease-in-out infinite;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    transition: transform 0.3s ease, background-color 0.
}

.text-web:hover {
    animation: scaleUp 0.3s forwards;
}



@keyframes fadeOutIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}
